@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Lilita+One&display=swap");

:root {
  --color-bg: #f3f5fc;
  --color-darkBlue: #0a3871;
  --color-lightBlue: #d8dfe8;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #495057;
  --color-lightGray: #e8e8e8;

  --fuente-andika: "Andika", sans-serif;
  --fuente-lilita: "Lilita One", sans-serif;
}

body {
  background-color: var(--color-bg);
  font-family: var(--fuente-andika);
}

.header {
  margin-bottom: 0.5rem;
  width: 60%;
  padding: 0.5rem;
}

.header__img {
  width: 120px;
  height: 50px;
}

.header__img:hover {
  transform: scale(1.1 , 1.1);
  transition: all .1s ease-in-out;
}

.main {
  display: flex;
  justify-content: space-around;
}

.form__section {
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80dvh;
}

.form__txt__entrada {
  width: 100%;
  max-width: 36rem;
  height: 50dvh;
  border: none;
  background: none;
  box-shadow: none;
  resize: none;
  outline: none;
  color: var(--color-darkBlue);
  font-size: 1.5rem;
  overflow: auto;
}

.form__txt__entrada::placeholder {
  font-size: 1.5rem;
  color: var(--color-darkBlue);
  opacity: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.container__alert__text {
  display: flex;
  color: var(--color-gray);
  align-items: center;
  justify-content: flex-start;
  font-size: 0.75rem;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.container__btn {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.form__btn {
  width: 15rem;
  height: 4rem;
  font-size: 1rem;
  font-family: var(--fuente-lilita);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  border: 1px solid var(--color-darkBlue);
  color: var(--color-darkBlue);
}

.form__btn:hover {
  transform: scale(1.1 , 1.1);
  transition: all 0.4s ease-in-out;
}

.form__btn__encriptar {
  background-color: var(--color-darkBlue);
  color: var(--color-lightGray);
}

.txt__salida {
  width: 100%;
  max-width: 25rem;
  height: 80dvh;
  padding: 0.4rem;
  background-color: var(--color-white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  -webkit-box-shadow: 6px 13px 25px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 13px 25px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 13px 25px -7px rgba(0, 0, 0, 0.75);
}

.txt__salida__img {
  /* width: 100%; */
  display: block;
}

.txt__salida__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.txt__salida__titulo {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.txt__salida__msj {
  font-size: 0.8rem;
}

.hidden {
  /* display: none; */
  background-color: var(--color-white);
}

.footer {
  margin: 10px;
  padding: 15px;
  color: var(--color-darkBlue);
  font-family: var(--fuente-andika);
  font-size: 1rem;
  text-align: center;
  
}

@media (max-width: 768px) {

  .header__img {
    width: 50px;
    height: 30px;
    border: 1px solid var(--color-darkBlue);
    border-radius: 10%;
    padding: 2px;
  }

  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form__section {
    height: auto;
    margin: 0.5rem;
  }

  .container {
    justify-content: center;
  }

  .container__alert__text {
    margin-bottom: 0.5rem;
  }

  .container__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .txt__salida {
    height: auto;
    max-width: 25rem;
    min-height: 8rem;
  }

  .txt__salida__img {
    display: none;
  }
}